services:
    openssh-server:
        image: lscr.io/linuxserver/openssh-server:latest
        container_name: openssh-server
        hostname: openssh-server #optional
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Etc/UTC
            - PASSWORD_ACCESS=true #optional
            - USER_PASSWORD=password #optional
            - USER_NAME=test #optional
        volumes:
            - ./sftp-data:/config
        ports:
            - 2222:2222
        restart: unless-stopped
